# Лабораторная работа 2

## Выполнил(а): __Щеткин Дмитрий Сергеевич__

*Группа 2.1*

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('train.csv')
print(train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
# Сколько на параходе ехало мужчин и женщин
male = train[train['Sex'] == 'male'].shape[0]
female = train[train['Sex'] == 'female'].shape[0]
print(male, female)

577 314

In [ ]:
# Количество пассажиров, севших в различных портах
embarked = train['Embarked'].value_counts()
print(embarked.get('S', 0), embarked.get('C', 0), embarked.get('Q', 0))

644 168 77

In [ ]:
# Доля погибших (число и процент)
dead = train['Survived'].value_counts()[0]
dead_percentage = (dead / train.shape[0]) * 100
print(dead, round(dead_percentage, 2))

549 61.62

In [ ]:
# Доли пассажиров по классам
pclass = train['Pclass'].value_counts(normalize=True)
print(round(pclass[1], 2), round(pclass[2], 2), round(pclass[3], 2))

0.24 0.21 0.55

In [ ]:
# Коэффициент корреляции Пирсона между SibSp и Parch
sibsp_parch = train[['SibSp', 'Parch']].corr().iloc[0, 1]
print(round(sibsp_parch, 2))

0.41

In [ ]:
# Корреляция возраста и выживания
age_survived = train[['Age', 'Survived']].corr().iloc[0, 1]
print(round(age_survived, 2))

# Корреляция пола и выживания
train['Sex_binary'] = train['Sex'].map({'male': 0, 'female': 1})
sex_survived = train[['Sex_binary', 'Survived']].corr().iloc[0, 1]
print(round(sex_survived, 2))

# Корреляция класса и выживания
pclass_survived = train[['Pclass', 'Survived']].corr().iloc[0, 1]
print(round(pclass_survived, 2))

-0.08
0.54
-0.34

In [ ]:
# Средний возраст пассажиров, медиана, минимальный и максимальный возраст
mean_age = train['Age'].mean()
median_age = train['Age'].median()
min_age = train['Age'].min()
max_age = train['Age'].max()
print(round(mean_age, 2), median_age, min_age, max_age)

29.7 28.0 0.42 80.0

In [ ]:
# Средняя цена за билет, медиана, минимальная и максимальная цены
mean_fare = train['Fare'].mean()
median_fare = train['Fare'].median()
min_fare = train['Fare'].min()
max_fare = train['Fare'].max()
print(round(mean_fare, 2), median_fare, min_fare, max_fare)

32.2 14.4542 0.0 512.3292

In [ ]:
# Самое популярное мужское имя
train['First_Name'] = train['Name'].apply(lambda x: x.split('. ')[1].split(' ')[0])
male_name = train[train['Sex'] == 'male']['First_Name'].mode()[0]
print(male_name)

William

In [ ]:
# Самые популярные мужское и женское имена людей, старше 15 лет
train_15 = train[train['Age'] > 15]
male_name_15 = train_15[train_15['Sex'] == 'male']['First_Name'].mode()[0]
female_name_15 = train_15[train_15['Sex'] == 'female']['First_Name'].mode()[0]
print(male_name_15, female_name_15)

William William